/* General Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4ece4;
    color: #2c3e2b;
    text-align: left;
}

/* Header*/
header {
    background-color:#6e4c2a;
    color: #f4ece4;
    text-align: center; 
    padding: 10px 0;
}

/* Nav Bar */
nav {
    display: flex;
    justify-content: space-around;
    background-color: #4a6836;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Section */
section {
    background-color: #e7dfd3; 
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

section h2, section h3 {
    color: #4A6836;
    margin-top: 20px;
    text-align: center;
}

/* List */
section ul {
    margin-left: 20px;
    line-height: 1.6;
}

section ul.disc {
    list-style-type: disc;
}

section ul.square {
    list-style-type: square;
}

/* Paragraph */
section p {
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Body (personality page) */
section p strong {
    color: #4A6836;
    font-weight: bold;
}

/* Image */
img {
    max-width: 100%;
    border-radius: 8px;
}

section img {
    display: block;
    margin: 20px auto;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* 3*2 Grid( Wireframe Layout Images) */
.wireframe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.wireframe-grid img {
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Footer */
footer {
    background-color: #6e4c2a;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Links */
a {
    color: #6E4C2A;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Iframe (References) */
iframe {
    border: 1px solid #ccc;
    border-radius: 8px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px 0;
}
